body {
    color: rgb(245, 250, 255);
    background-color: rgb(37, 73, 73);
}
a {
    color: rgb(201, 234, 255);
    padding: 2px;
    margin: 1px;
    border: 1px solid black;
    border-radius: 3px;
}